package ${customInfo.packageName};

import ${groupId}.common.BaseResponse;
import ${groupId}.domain.${entity}DM;
import ${groupId}.common.PageDM;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;

import java.util.List;

public interface ${entity}DomainIApi {

    @RequestMapping(value = "/${controllerMappingHyphen}/get-all", method = RequestMethod.GET)
    BaseResponse<List<${entity}DM>> getAll(${entity}DM dm);

    @RequestMapping(value = "/${controllerMappingHyphen}/add", method = RequestMethod.POST)
    BaseResponse<${entity}DM> add(${entity}DM dm);

    @RequestMapping(value = "/${controllerMappingHyphen}/page/{current}/{size}", method = RequestMethod.GET)
    BaseResponse<PageDM<${entity}DM>> page(${entity}DM dm, @PathVariable Integer current, @PathVariable Integer size);

    @RequestMapping(value = "/${controllerMappingHyphen}/get-one", method = RequestMethod.GET)
    BaseResponse<${entity}DM> queryOne(${entity}DM dm);

    @RequestMapping(value = "/${controllerMappingHyphen}/update", method = RequestMethod.POST)
    BaseResponse<${entity}DM> update(${entity}DM dm);

    @RequestMapping(value = "/${controllerMappingHyphen}/delete", method = RequestMethod.POST)
    BaseResponse<${entity}DM> delete(${entity}DM dm);
}
