
spring:
  application:
    name: ${model}-service #服务之间的调用都是根据这个 name
#  main:
#    allow-bean-definition-overriding: true
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://rm-wz912w7jddju3sglupo.mysql.rds.aliyuncs.com/dbtest?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: Szyy2024
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
    serialization:
      write-dates-as-timestamps: false
  cloud:
    nacos:
      discovery:
        server-addr: 121.196.232.69:8848
server:
  port: 9123

#eureka:
#  client:
#    serviceUrl:
#      defaultZone: http://localhost:9000/eureka/
#  instance:
#    preferIpAddress: true


logging:
  level:
    root: INFO
#    com:
#      zaxxer:
#        hikari:
#          hikariConfig: INFO
#    org:
#      apache:
#        hc:
#          client5:
#            http:
#              wire: INFO

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    auto-mapping-behavior: full
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  mapper-locations: classpath*:/com/lily/${model}/infrastructure/persistent/mapper/xml/*.xml
  global-config:
    # 逻辑删除配置
    db-config:
      # 删除前
      logic-not-delete-value: 0
      # 删除后
      logic-delete-value: 1