package ${groupId}.domain;

import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;

import java.util.Date;

@Data
public class BaseDM {
    @Schema(description = "创建人")
    private String createdBy;
    @Schema(description = "修改人")
    private String updatedBy;
    @Schema(description = "创建时间")
    private Date createdTime;
    @Schema(description = "修改时间")
    private Date updatedTime;
    @Schema(description = "已删除,true 为已删除")
    private Integer deleted = 0;
}
