spring:
  application:
    name: ${model}-service
  profiles:
    active: dev
  main:
    allow-bean-definition-overriding: true

---
spring:
  config:
    activate:
      on-profile: dev
  cloud:
    nacos:
      config:
        server-addr: 47.115.76.103:8848
        namespace: a7538199-8265-45b9-a2b8-59e2d80a7d39
        file-extension: yaml
        refresh-enabled: true
        group: DEFAULT_GROUP
      discovery:
        server-addr: 47.115.76.103:8848
        namespace: a7538199-8265-45b9-a2b8-59e2d80a7d39


---
spring:
  config:
    activate:
      on-profile: sit
  cloud:
    nacos:
      config:
        server-addr: 47.115.76.103:8848
        namespace: e2b7f491-0d6b-45d6-823e-34f53e63577b
        file-extension: yaml
        refresh-enabled: true
        group: DEFAULT_GROUP
      discovery:
        server-addr: 47.115.76.103:8848
        namespace: e2b7f491-0d6b-45d6-823e-34f53e63577b