package ${customInfo.packageName};

import ${groupId}.common.BaseResponse;
import ${groupId}.api.${entity}DomainIApi;
import org.springframework.web.bind.annotation.RestController;
import ${groupId}.domain.${entity}DM;
import ${groupId}.domain.${entity}DomainService;
import org.springframework.beans.factory.annotation.Autowired;

import java.util.List;

@RestController
public class ${entity}DomainApi implements ${entity}DomainIApi {

    @Autowired
    ${entity}DomainService ${controllerMappingHyphen}DomainService;

    @Override
    public BaseResponse<List<${entity}DM>> getAll(${entity}DM ${controllerMappingHyphen}DM) {
        List<${entity}DM> ${controllerMappingHyphen}DMList = ${controllerMappingHyphen}DomainService.getAll(${controllerMappingHyphen}DM);
        return BaseResponse.success(${controllerMappingHyphen}DMList);
    }

    @Override
    public BaseResponse<${entity}DM> add(${entity}DM ${controllerMappingHyphen}DM) {
        ${controllerMappingHyphen}DomainService.add(${controllerMappingHyphen}DM);
        return BaseResponse.success(${controllerMappingHyphen}DM);
    }

    @Override
    public BaseResponse<List<${entity}DM>> page(${entity}DM ${controllerMappingHyphen}DM, Integer current, Integer size) {
        return BaseResponse.success(${controllerMappingHyphen}DomainService.page(${controllerMappingHyphen}DM,current,size));
    }

    @Override
    public BaseResponse<${entity}DM> queryOne(${entity}DM ${controllerMappingHyphen}DM) {
        return BaseResponse.success(${controllerMappingHyphen}DomainService.queryOne(${controllerMappingHyphen}DM));
    }

    @Override
    public BaseResponse<${entity}DM> update(${entity}DM ${controllerMappingHyphen}DM) {
        return BaseResponse.success(${controllerMappingHyphen}DomainService.update(${controllerMappingHyphen}DM));
    }

    @Override
    public BaseResponse<${entity}DM> delete(${entity}DM ${controllerMappingHyphen}DM) {
        return BaseResponse.success(${controllerMappingHyphen}DomainService.delete(${controllerMappingHyphen}DM));
    }
}
