package ${customInfo.packageName};

import ${groupId}.common.BaseResponse;
import ${groupId}.common.PageDM;
import ${groupId}.api.${entity}DomainIApi;
import org.springframework.web.bind.annotation.RestController;
import ${groupId}.domain.${entity}DM;
import ${groupId}.domain.${entity}DomainService;
import org.springframework.beans.factory.annotation.Autowired;

import java.util.List;

@RestController
public class ${entity}DomainApi implements ${entity}DomainIApi {

    @Autowired
    ${entity}DomainService domainService;

    @Override
    public BaseResponse<List<${entity}DM>> getAll(${entity}DM dm) {
        List<${entity}DM> dmList = domainService.getAll(dm);
        return BaseResponse.success(dmList);
    }

    @Override
    public BaseResponse<${entity}DM> add(${entity}DM dm) {
        domainService.add(dm);
        return BaseResponse.success(dm);
    }

    @Override
    public BaseResponse<PageDM<${entity}DM>> page(${entity}DM dm, Integer current, Integer size) {
        return BaseResponse.success(domainService.page(dm,current,size));
    }

    @Override
    public BaseResponse<${entity}DM> queryOne(${entity}DM dm) {
        return BaseResponse.success(domainService.queryOne(dm));
    }

    @Override
    public BaseResponse<${entity}DM> update(${entity}DM dm) {
        return BaseResponse.success(domainService.update(dm));
    }

    @Override
    public BaseResponse<${entity}DM> delete(${entity}DM dm) {
        return BaseResponse.success(domainService.delete(dm));
    }
}
