package ${customInfo.packageName};

import java.util.List;
import ${groupId}.common.PageDM;

public interface ${entity}DomainService {

    List<${entity}DM> getAll(${entity}DM dm);

    ${entity}DM add(${entity}DM dm);

    PageDM<${entity}DM> page(${entity}DM dm, Integer current, Integer size);

    ${entity}DM queryOne(${entity}DM dm);

    ${entity}DM update(${entity}DM dm);

    ${entity}DM delete(${entity}DM dm);
}
